/* Body */

/* Stack Overflow code for dealing with whitespace issue on right hand side of index.html and about.html. https://stackoverflow.com/questions/4617872/white-space-showing-up-on-right-side-of-page-when-background-image-should-extend*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
/* End of Stack Overflow code. */

body {
    background-color: #000910;
    color: whitesmoke;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
}

a {
    color: whitesmoke;
}

/* Bootstrap Components */

.card {
    background-color: #00171f;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #184c5d;
    font-size: 20px;
}

/* Nav */

#logo {
    width: 50px;
}

.navbar-dark {
    background-color: #184c5d
}

.active {
    text-decoration: underline;
}

/* Stack Overflow code for problem where bootstrap styles were not changing properties. Solution was to add the !important property https://stackoverflow.com/questions/48735679/bootstrap-change-navbar-link-colors */

nav .navbar-nav li a{
  color: whitesmoke !important;
  font-size: 20px;
  }

/* End of Stack Overflow code */

/* Index Jumbotron */

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#index-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
}

.see-my-work-jumbotron {
    height: 90vh;
    margin-bottom: 0px;
}

#jumbotron-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    text-shadow: 4px 5px 6px rgba(0,0,0,0.7);
    font-family: 'Oswald', sans-serif;
}

#jumbotron-info {
    position: relative;
}

.jumbotron {
    background-color: rgba(0,0,0,0)
}

/* Testimonials */

#testimonialCarousel {
    height: 30vh;
}

.carousel-inner {
    height: 30vh;
}

.testimonial-video-container>video {
    height: 30vh;
}

/* Portfolio Videos */

/* Portfolio Call to Action */

#portfolio-call-to-action {
    text-align: center;
}

/* Portfolio Gallery */

.image-wrapper {  
  height: auto;
}

.gallery-image {
    width: 50vw;
}


/* Footer */

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #184c5d;
}

#social-links {
    list-style-type: none;
    text-align: center;
    vertical-align: center;
    padding-left: 0;
    margin: 0px;
}

#social-links>li {
    display: inline;
    font-size: 20px;
    padding: 5px;
}

footer p {
    color: whitesmoke;
    text-align: center;
    margin: 0px;
    width: 100vw;
}

/* About */

#about-me {
    margin-top: 10px;
}

.portrait-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 300px;
    width: 300px;
    height: auto;
}

#about-me-card {
    height: 300px;
    width: auto;
}

#skills-card {
    height: 30vh;
    width: auto;
}

#education-card {

    height: 30vh;
    width: auto;
}

#cv-and-testimonials {
    margin-bottom: 10px;
}

#cv-card {
    height: 30vh;
    width: auto;
}

#testimonials-card {
    height: 30vh;
    width: auto;
}

#carouselTestimonials {
    height: 20vh;
}

#carouselTestimonials>.carousel-inner {
    height: 20vh;
}

/* Contact */

#contact-me-card {
    height: 80vh;
}
