/* Body */

body {
    background-color: #000910;
    color: whitesmoke;
}

h1, h2, h3, h4, h5, h6{
    color: whitesmoke;
}

a {
    color: whitesmoke;
}

/* Bootstrap Components */

.card {
    background-color: #00171f;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #184c5d;
    font-size: 20px;
}

/* Nav */

#logo {
    width: 50px;
}

.navbar-dark {
    background-color: #184c5d
}

.active {
    text-decoration: underline;
}

/* https://stackoverflow.com/questions/48735679/bootstrap-change-navbar-link-colors */

nav .navbar-nav li a{
  color: whitesmoke !important;
  font-size: 20px;
  }

/* end of stack overflow code */

/* Index Jumbotron */

.see-my-work-jumbotron {
    height: 60vh;
    margin-bottom: 0px;
    background: url(/assets/images/placeholder.jpg) ;
    background-position: center;
}

.jumbotron-button-container {

}

/* Testimonials */

#testimonialCarousel {
    height: 30vh;
}

.carousel-inner {
    height: 30vh;
}

.testimonial-video-container>video {
    height: 30vh;
}

/* Portfolio Videos */

/* Portfolio Call to Action */

#portfolio-call-to-action {
    text-align: center;
}

/* Portfolio Gallery */

.image-wrapper {  
  height: auto;
}

.gallery-image {
    width: 50vw;
}


/* Footer */

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #184c5d;
}

#social-links {
    list-style-type: none;
    text-align: center;
    vertical-align: center;
    padding-left: 0;
    margin: 0px;
}

#social-links>li {
    display: inline;
    font-size: 20px;
    padding: 5px;
}

footer p {
    color: whitesmoke;
    text-align: center;
    margin: 0px;
}