body {
    background-color: #000910;
}

a {
    color: whitesmoke;
}

/* Nav */

#logo {
    width: 50px;
}

.navbar-dark {
    background-color: #184c5d
}
/* https://stackoverflow.com/questions/48735679/bootstrap-change-navbar-link-colors */

nav .navbar-nav li a{
  color: whitesmoke !important;
  font-size: 20px;
  }

/* end of stack overflow code */

/* Footer */

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #184c5d;
}

#social-links {
    list-style-type: none;
    text-align: center;
    vertical-align: center;
    padding-left: 0;
    margin: 0px;
}

#social-links>li {
    display: inline;
    font-size: 20px;
    padding: 5px;
}

footer p {
    color: whitesmoke;
    text-align: center;
    margin: 0px;
}